In [ ]:
#stuff for jackie
np.linspace(10)

In [1]:
import numpy as np
imprt math

In [ ]:
#bad variable names
print = [0,1,2,3]
print[0]
print("apple")

In [ ]:
print("Hello bugs!')

In [14]:
Comments!

In [2]:
x = np.linspace(-1,1,11)
y = 1/x
print(x/x == x/x)

/home/tyler/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: RuntimeWarning: divide by zero encountered in true_divide
  from ipykernel import kernelapp as app

In [ ]:
#sum 1 to 10
summation = 0
for i in range(10)
    summation == j
    print i

In [8]:
#scope
i = 10
for i in range(20):
    pass
print(i)

19

In [25]:
a = 5
a = str(a)
a*5

'55555'

/home/tyler/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: RuntimeWarning: invalid value encountered in true_divide
  if __name__ == '__main__':

array([ True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True], dtype=bool)

In [23]:
list1 = []
list2 = list1
list1.append(5)
print(list2 == [])
list1 = []
print(list2 == list1)

In [24]:
dress = "yes"
if dress is "yes":
    print("success")
else if dress is "maybe":
    print("okay?")
else:
    print("failure")

[5]

In [ ]:
for apples in range(10):
    print("apples are good")
    apples = 8

In [26]:
def myFunction(variable1):
    variable1 + 5

g = myFunction(10)

In [28]:
def x("variable"):
    return variable

SyntaxError: invalid syntax (<ipython-input-28-0cdf5e8559b0>, line 1)

array([-1. , -0.8, -0.6, -0.4, -0.2,  0. ,  0.2,  0.4,  0.6,  0.8,  1. ])

In [29]:
words = ["words words words",'my jam','apple jacks', 'the finer things', 'lOlcano']
"l0lcano" in words

False

In [34]:
numpy1 = np.zeros((5,1))
numpy2 = np.zeros((5))
numpy1*numpy2

array([[ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.]])